<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOVJyEFsbl1kU2xXjmQhSFBsK5Nfm6e5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>282652958069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.metagaming</string>
	<key>PROJECT_ID</key>
	<string>metagaming-3558b</string>
	<key>STORAGE_BUCKET</key>
	<string>metagaming-3558b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282652958069:ios:57067499fa029e1fbd073c</string>
</dict>
</plist>